*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  height: 100vh;
  background: #EAFFEC;
}
nav{
  display: flex;
  padding: 20px 60px;
  align-items: center;
  justify-content: space-between;
}
.like{
   font-size: 38px;
   color: black;
   font-weight: 600;
   text-decoration: none;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul{
  gap: 60px;
  display: flex;
  align-items: center;
  list-style: none;
}
a{
  font-size: 19px;
  color: #1A1A1A;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn{
  height: 99px;
  width: 43px;
  color: #fff;
  padding: 18px 45px;
  border-radius: 5px;
  background: #069315;
}
.text{
  width: 505px;
  color: black;
  font-size: 56px;
  font-weight: 640;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.foot{
  color: #089721;
}
.text-2{
  width: 538px;
  font-size: 18px;
  color: #5A5A5A;
  line-height: 28px;
  margin-top: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#btn-2{
  height: 60px;
  width: 190px;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  background: #089721;
  border: solid 1px #069315;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#btn-3{
  height: 60px;
  width: 190px;
  color: #069315;
  font-size: 18px;
  background: none;
  border: solid 1px #069315;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.fors{
  gap: 40px;
  display: flex;
  margin-top: 60px;
  align-items: center;
}
.loop{
  gap: 40px;
  display: flex;
  margin-top: 5%;
  align-items: center;
  justify-content: center;
}